@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url(../images/triangleSVG.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5vw;
}