@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/**********
 * GLOBALS
 *********/
body {
  background: url(../images/triangleSVG.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5vw;
}

h1, h2, h3, h4, h5{
	color:#4A4E69 !important;
	font-weight: 300 !important;
	font-family: 'Open Sans', sans-serif !important;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.App {
  padding-top: 50px;
}

/**********
 * SIDEBAR
 *********/
.about-me {
  margin-bottom: 50px;
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%;
  max-width: 70% !important;
}

.icon-contact {
	font-size: 2em;
	margin: 5px;
  color: #212121;
}

.icon-contact:hover,
.icon-contact:focus {
	text-decoration: none;
}

/***************
 * MAIN CONTENT
 **************/
.project {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px 2px lightgrey;
  padding: 30px;
  margin-bottom: 100px;
}

.tech-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-launch {
	width: 100%;
	max-width: 200px;
	background-color: #549657;
	color: #fff;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: #fff;
	background: #3d7140;
}